<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="monitor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <monitor.Settings>
            <setting name="GraphResolution" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WarningTemperature" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CriticalTemperature" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AcknowledgedSystemTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWarningIndicators" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SensorToMeasure" serializeAs="String">
                <value>(First Sensor)</value>
            </setting>
            <setting name="TrayTheme" serializeAs="String">
                <value>Vertical</value>
            </setting>
        </monitor.Settings>
    </userSettings>
</configuration>